.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/images/babearia.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 20px;
}

.login-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #555;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.success-message {
    color: green;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}
