.login-container {
    background-image: url('/public/images/barbearia.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    max-width: 400px;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555;
}

.form-group input {
    width: calc(100% - 30px);
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button-container {
    text-align: center;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #555;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}
