/* General Styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Dark Mode */
.dark-mode {
    background-color: #121212;
    color: white;
}
